<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Footer</title>

</head>

<body class="bg-gray-100">

  <section class=" h-screen/50 w-full flex  flex-col">
    <div class="bg-red-600  mx-auto
                w-[20rem] h-[20rem]          /* Base size for small screens */
                sm:w-[24rem] sm:h-[25rem]   /* Slightly larger on small screens */
                md:w-[28rem] md:h-[25rem]   /* Medium screens */
                lg:w-[32rem] lg:h-[35rem]   /* Large screens */
                md:mx-auto
                lg:mx-auto
                [clip-path:polygon(72%_12%,100%_40%,77%_66%,20%_61%,3%_35%,4%_17%)]">
    </div>

    <!-- the footer menu style -->
    <div class="footer flex flex-col  w-[25rem] h-[12rem] sm:text-2xl md:w-[100%] space-y-5 lg:grid lg:grid-cols-2 lg:w-[100%]">

        <div class="card-left  grid flex-col space-y-5 md:grid-cols-2">
                <div class="w-[10rem]">
                    <p class="font-bold">Agentur Baumeister Böckstraße 13 10967 Berlin</p>
                </div>
                     <div class="w-[15rem] md:ml-auto">
                         <a href="#" class="underline font-bold">  hallo@agentur-baumeister.com </a> <a href="" class="font-bold"> +49 (0)30 - 490 827 87</a>
                     </div>
         </div>



        <div class="left-row font-semibold flex justify-around gap-2 ">

                            <div class=""> <a href="#" class="hover:underline">Impressum </a></div>
                            <div class=""> <a href="#" class="hover:underline">  Datenschutz</a></div>
                            <div><a href="#" class="hover:underline"> LinkedIn </a> </div>
                            <div> <a href="#" class="hover:underline"> Instagram   </a></div>

        </div>

    </div>
  </section>

</body>

</html>
