<div class="container mx-auto ">
  <section class="main-section max-sm:mt-100 h-[70rem] pt-30 relative sm:mb-[50%] xl:w-full">
    <div class="max-sm:h-[35rem] h-[40rem] relative md:mr-0 lg:mr-40"> 
      <div class="sticky lg:-top-10 max-sm:-top-0 sm:-top-20">
        <div class="absolute max-sm:left-30  max-md:left-50 max-sm:top-0 left-90 top-10 -z-1 overflow-hidden">
            <div class="[clip-path:polygon(73%_2%,_100%_76%,_71%_100%,_41%_10%,_61%_0)] max-sm:w-[10.75rem] max-sm:h-[15.5625rem] w-[21.75rem] h-[28.5625rem] bg-pink-300 "></div>
        </div>
      </div> 
      <div class="sticky lg:top-0 max-sm:-top-0 sm:-top-0 h-20">
        <div class="absolute">
          <div class="[clip-path:polygon(34%_3%,_84%_0,_97%_42%,_43%_100%,_0_98%,_0_83%,_3%_68%)] w-[40.375rem] h-[49.593125rem] xl:w-[50.375rem] xl:h-[59.593125rem] 2xl:w-[60.375rem] 2xl:h-[69.593125rem] bg-[#FFE800] max-sm:w-[20.75rem] max-sm:h-[18.5625rem] max-md:w-[30.75rem] max-md:h-[25.5625rem]"></div>
        </div>
      </div>    
      <div class="sticky lg:-top-[80%] max-sm:-top-[30%] sm:-top-50">
        <div class="absolute bottom-0 left-40 h-[18.125rem] max-md:z-9 md:z-8 lg:left-50 max-sm:top-20 max-sm:z-1 max-sm:left-10 max-md:top-[15rem] md:top-[20rem] lg:top-[20rem]">
            <div class="[clip-path:polygon(2%_5%,_71%_0,_100%_39%,_78%_70%,_26%_66%,_0_37%)] w-[40.09375rem] h-[34.125rem] xl:w-[50.09375rem] xl:h-[44.125rem] 2xl:w-[60.09375rem] 2xl:h-[54.125rem] bg-red-500 max-sm:w-[20.75rem] max-sm:h-[15.5625rem] max-md:w-[20.75rem] max-dm:h-[20.5625rem]"></div>
        </div>
      </div>
        <div class="sticky lg:-top-40 max-sm:-top-10 sm:-top-20">
          <div class="absolute left-70 max-sm:top-0 max-sm:left-0 max-md:top-20 md:top-30 md:left-10 lg:top-30 max-md:z-10 lg:left-40 max-md:left-0 md:z-9">
              <div class="[clip-path:polygon(17%_0,_56%_9%,_96%_60%,_75%_97%,_33%_100%,_0_40%)] w-[35.75rem] h-[36.75rem] xl:w-[45.75rem] xl:h-[46.75rem] 2xl:w-[55.75rem] 2xl:h-[56.75rem] bg-green-800 max-sm:w-[25.75] max-sm:h-[13.5625rem] max-md:w-[25.75rem] max-md:h-[30.5625rem]"></div>
          </div>
        </div>
        <div class="sticky lg:-top-20 max-sm:-top-0 sm:-top-20">
          <div class="absolute max-sm:left-20 max-sm:top-10 max-sm:z-[1] max-md:left-50 md:left-70 z-10 top-40 md:right-10 lg:left-[50%] lg:z-10 xl:left-[45%] 2xl-left-[40%]: md:top-30">
              <div class="[clip-path:polygon(49%_2%,_90%_0,_100%_40%,_80%_99%,_35%_99%,_0%_60%,_33%_7%)] w-[39rem] h-[36.1875rem] xl:w-[49rem] xl:h-[46.1875rem] 2xl:w-[59rem] 2xl:h-[56.1875rem] bg-blue-800 max-lg:w-[33.75rem] max-lg:h-[30.5625rem] max-sm:w-[15.75rem] max-sm:h-[13.5625rem] max-md:w-[29.75rem] max-md:h-[25.5625rem]"></div>
          </div>
        </div>
        <div class="sticky lg:-top-40 max-sm:-top-20 sm:-top-20 -z-1">
          <div class="absolute max-sm:left-20 sm:left-[55%] md:left-[47%] sm:top-[10rem] max-lg:right-0 max-lg:left-[60%] xl:left-[60%] 2xl:right-0 lg:left-[50%] bg-amber-500 right-0 max-sm:top-0 bottom-0">
            <div class="[clip-path:polygon(76%_0,_100%_26%,_100%_100%,_68%_100%,_36%_83%,_25%_46%,_40%_13%)] w-[29.375rem] xl:h-[42.53125rem] xl:w-[39.375rem] 2xl:h-[52.53125rem] 2xl:w-[49.375rem] h-[32.53125rem] bg-green-800 max-sm:w-[15.75rem] max-sm:h-[16.5625rem] max-md:w-[20.75rem] max-md:h-[25.5625rem]"></div>
          </div>
        </div>
    </div>
    <div class="absolute md:top-[50%] top-[100%] sm:left-50 lg:left-0 max-sm:top-70 mx-[20%] z-20 lg:mx-[25%] sm:top-[50%] sm:mx-[10%] text-center">
      <p class="text-xl sm:text-3xl lg:text-4xl text-white text-center font-bold">We help you set
        focus and gain
        impact. By adding
        to the conversation,
        not to the noise.
      </p>
    </div>
  </section>
</div>
