<!-- <div class="container mx-auto"> -->
<!-- <section
  class="overflow-hidden relative h-[70rem] max-sm:px-20 max-md:px-20 md:px-40 pt-20"
  id="reference-info"
>
  <div
    class="bg-[#FFE800]   -z-1 absolute top-0 left-0 w-full h-[100rem] [clip-path:polygon(100%_0,100%_96%,26%_100%,0_93%,0_0)]"
    style="border-bottom-left-radius: 20px;"
  ></div>
  <ul class="text-right top-0 md:text-sm max-sm:text-sm font-semibold pt-50">
    <li>Ace Hotel</li>
    <li>ARMEDANGELS</li>
    <li>BERLIN DESIGN WEEK</li>
    <li>Berliner Berg</li>
    <li>BITE CLUB</li>
    <li >Budweiser Budvar</li>
    <li>ChungKing Noodles</li>
    <li>Designpreis Brandenburg</li>
    <li>Die Techniker</li>
    <li>European Street Food Awards</li>
    <li>Grundmann Dentistry</li>
    <li>HORNBACH Werkstück</li>
    <li>HORNBACH macht Schule</li>
    <li>iF Design</li>
    <li>Kopka</li>
    <li>KLH Maßschuhe</li>
    <li>Lode & Stijn</li>
    <li>Luya</li>
    <li>MEISSEN</li>
    <li>Motel Beer & Coffee</li>
    <li>PAPER & TEA</li>
    <li>rocket & basil</li>
    <li>Seeberger Gruppe</li>
    <li>Shiori</li>
    <li>SPOC Magazin</li>
    <li>stocubo</li>
    <li>STUR</li>
    <li>World of Coffee</li>
    <li>yamo</li>
  </ul>
</section> -->
<!-- </div> -->




<!-- option2-->

<div class="relative w-full">
  <div class="
         w-full
         h-auto
        bg-[#FFE800]
        [clip-path:polygon(0_0,100%_1%,100%_100%,46%_100%,0_96%)]
        flex
        justify-end
        
        p-8
    ">
    <div class=" py-36 md:pr-36 pr-10     pt-56 pb-56 *:text-right">
      <ul class=" text-right top-0 md:text-sm max-sm:text-sm font-semibold  ">
        <li>Ace Hotel</li>
        <li>ARMEDANGELS</li>
        <li>BERLIN DESIGN WEEK</li>
        <li>Berliner Berg</li>
        <li>BITE CLUB</li>
        <li>Budweiser Budvar</li>
        <li>ChungKing Noodles</li>
        <li>Designpreis Brandenburg</li>
        <li>Die Techniker</li>
        <li>European Street Food Awards</li>
        <li>Grundmann Dentistry</li>
        <li>HORNBACH Werkstück</li>
        <li>HORNBACH macht Schule</li>
        <li>iF Design</li>
        <li>Kopka</li>
        <li>KLH Maßschuhe</li>
        <li>Lode & Stijn</li>
        <li>Luya</li>
        <li>MEISSEN</li>
        <li>Motel Beer & Coffee</li>
        <li>PAPER & TEA</li>
        <li>rocket & basil</li>
        <li>Seeberger Gruppe</li>
        <li>Shiori</li>
        <li>SPOC Magazin</li>
        <li>stocubo</li>
        <li>STUR</li>
        <li>World of Coffee</li>
        <li>yamo</li>
      </ul>
    </div>
  </div>
</div>
