@import "tailwindcss";
/* Shape  design from main section of project */
.shape-yellow-large {
    clip-path: polygon(
        15% 0%, 
        70% 5%, 
        80% 40%, 
        70% 75%, 
        20% 60%,
        0% 30%,
        0% 30%
    );
}

.shape-red-large {
    clip-path: polygon(
        15% 0%, 
        70% 5%,
        70% 20%, 
        60% 75%, 
        20% 60%,
        0% 30%,
        0% 30%
    );
}

.shape-green-dark {
    clip-path: polygon(
        15% 0%, 
        70% 5%, 
        80% 40%, 
        70% 75%, 
        10% 60%,
        0% 30%,
        0% 30%
    );
}

.shape-blue {
    clip-path: polygon(
        20% 0%, 
        100% 10%, 
        80% 90%, 
        0% 100%, 
        10% 50%
    )
}

.shape-pink-small {
    clip-path: polygon(
        30% 0%, 
        100% 0%, 
        70% 100%, 
        0% 100%
    );
}