<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

    <div class="flex  justify-center items-end flex-wrap p-5">

            <div class="text-[2rem] text-[#00672e] space-y-5">
        
                <div>
                    <p class="text-[0.8rem] font-bold">IMPRINT</p>
                    <h1><strong>Agentur Baumeister</strong></h1>
                    <p>Katrein Bauhmeister</p>
                    <p>Böckhstraße 13</p>
                    <p>10967 Berlin</p>
            
                </div>
            
                <div>
                    <p>+49 (0)30 - 490 827 87</p>
                    <p>hallo@agentur-baumeister.com</p>
                </div>
            
                <div>
                    <p><strong>UST-IDNR.</strong></p>
                    <p>DE 274 486 923</p>
                </div>
            
                <div>
                    <p><strong>REGISTERED OFFICE</strong></p>
                    <p>Berlin, Deutschland</p>
                </div>
        
            </div>
        
        
            <div class=" max-w-md text-center p-12 rounded-lg md:mt-40 ">
                <h1 class="text-[#00672e] font-bold tracking-widest mb-5 text-right">DISCLAIMER</h1>
                <p class="text-[#00672e] text-base text-right">
                    Despite all due care, no liability can be accepted for the accuracy, completeness and up-to-dateness of the
                    information provided. The same applies to third-party websites to which www.agentur-baumeister.com refers by
                    means
                    of hyperlinks. Katrein Baumeister, Agentur Baumeister accepts no liability for the content of these
                    websites.
                </p>
            </div>

    </div>


    

 
</body>
</html>