<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Footer</title>

</head>

<body class="bg-gray-100">

  <section class="border  h-screen/50 w-full flex  flex-col items-center justify-center">
    <div class="bg-red-600 
                w-[20rem] h-[12rem]          /* Base size for small screens */
                sm:w-[24rem] sm:h-[14rem]   /* Slightly larger on small screens */
                md:w-[28rem] md:h-[16rem]   /* Medium screens */
                lg:w-[32rem] lg:h-[18rem]   /* Large screens */
                [clip-path:polygon(72%_12%,100%_40%,77%_66%,20%_61%,3%_35%,4%_17%)]">
    </div>
    <div class="footer  w-[75rem] h-[12rem] bg-gray-400"></div>
  </section>

</body>

</html>
